.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
  background: $darkblue-cardbg;
  width: 330px;
  height: auto;
  &__img {
    width: 100%;
    position: relative;
    height: 290px;
    &:hover .card__img--overlay {
      opacity: 1;
    }
    & > img {
      border-radius: 10px;
      width: 100%;
    }
    &--overlay {
      position: absolute;
      inset: 0;
      opacity: 0;
      background-color: rgba(0, 255, 247, .4);
      transition: opacity .3s ease;
      border-radius: 10px;
      & > img {
        position: absolute;
        inset: calc(50% - 24px) auto auto calc(50% - 24px);
      }
      }
    &:hover .card__img--overlay {
      opacity: 1;
    }
  }
  
  &__title {
    font-size: 1.3rem;
    color: $white;
    &:hover {
      color: $cyan;
    }
  }
  &__description {
    font-weight: 300;
    font-size: 1rem;
    color: $soft-blue;
  }
  &__infos {
    display: flex;
    justify-content: space-between;
  }
  &__price {
    color: $cyan;
    &::before {
      content: '';
      display: inline-block;
      height: 20px;
      width: 20px;
      vertical-align: middle;
      margin-top: -.11em;
      margin-right: .2em;
      background: url(../../images/icon-ethereum.svg) center center / contain no-repeat;
    }
  }
  &__timerem {
    color: $soft-blue;
    &::before {
      content: '';
      display: inline-block;
      height: 20px;
      width: 20px;
      vertical-align: middle;
      margin-top: -.11em;
      margin-right: .2em;
      background: url(../../images/icon-clock.svg) center center / contain no-repeat;
    }
  }
  &__line {
    content: '';
    height: 1px;
    background: $darkblue-line;
  }
  &__author {
    color: $soft-blue;
    font-weight: 300;
    vertical-align: middle;
    &::before {
      border: 1px solid $white;
      border-radius: 50px;
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url(../../images/image-avatar.png) center center / contain no-repeat;
      vertical-align: middle;    
      margin-top: -.11em;
      margin-right: 1em;
    }
    &--name {
      color: $white;
    &:hover {
      color: $cyan;
    }
    }
  }
}